/* ///////////////////////for primary elements //////////////////////// */

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size; 12px;
}
h1 {
}
p {
}
pre {
  font: Times New Roman;
  font-size: 16px;
  font-weight: normal;
}

a:link {
  color:black;
  text-decoration: none;
}
a:visited {
  color:black;
  text-decoration: none;
}
a:hover {
  color:grey;
  text-decoration: underline;
}
.black {
  background-color: black;
  color: white;
}
header {
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 24px;
  color: black;
}
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}
footer {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 16px;
}
#nameSection {
  font-size: 20px;
  color: black;
  padding: 40px;
  float: left;
  display: block;
  max-width: 726px;
  word-wrap: break-word;
  margin: -4px 30px 8px 0;
}
.inline_player {
  margin: 2em 0em 1.4166666667em;
  position: relative;
  white-space: nowrap;
}



/* //////////////////////////For modal images ////////////////////////////*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}


/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: black;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

